site_name: Matt'sHub
site_url: https://mydomain.org/mysite

theme:
  name: material
  logo: image/mattshub.png
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.progress
    - navigation.preview

extra_css:
  - css/custom.css