site_name: Matt'sHub
site_url: https://mydomain.org/mysite
theme: 
  name: material
  logo: home/logo2.png
  theme:
  extra_css:
      - css/custom.css

  palette: 



    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.progress
    - navigation.preview 
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    # - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy


  plugins:
  - search
  - tags  
  - blog

  markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences


nav:
- DOPPIA F: about.md
    - RHINO: about.md
- Aggiornamenti: blog.md
- Lavori: works.md


